body {
    height: 100vh;
    background: linear-gradient(125deg, #0F2854, #1C4D8D, #4988C4);
    background-size: 400% 400%;
    animation: backgroundmovement 15s ease infinite;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.image_container{
    text-align: center;
}

form{
    background-color: #D1855C;
    width: 600px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
}

#remember{
    cursor: pointer;
}

#login_btn{
    padding: 12px 20px;
    border-radius: 15px;
    border: none;
    background-color: #0F2854;
    color: #D1855C;
    cursor: pointer;
    margin: 8px 0;
}

#login_btn:hover{
    background-color: #4988C4;
    color: white;
}

#colortext{
    color: #1C4D8D;
    cursor: pointer;
}

input[type="text"]{
    padding: 7px 12px;
    border-radius: 15px;
    margin: 10px 0;
    border: none;
}

input[type="text"]:focus{
    outline: none;
}

@keyframes backgroundmovement {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

@media screen and (max-width:640px) {
    form{
        width: 400px;
    }
}